Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

React as peer dep
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/package.json
Due: none

Publish
  packages/_stories/package.json
  packages/react-property-selectors/package.json
Due: none

smaount selector fix
  packages/_stories/src/react-property-selectors/amount-input-box/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Add test
  package.json
  packages/react-property-selectors/jest.config.js
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
  packages/react-property-selectors/src/__tests__/jest-setup.ts
  yarn.lock
Due: react_property_selectors

Add assert
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Add invalid input test
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Add test
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Fix async act with new react version
  package.json
  packages/_stories/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
  yarn.lock
Due: react_property_selectors

act seems not necessary after upgrading react
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Rename file
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-test-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Remove testing on node 10
  .travis.yml
Due: none

Upgrade storybook
  package.json
  packages/_stories/package.json
  yarn.lock
Due: none

Remove unused script
  package.json
Due: none

Add amount input test (#32)
  .travis.yml
  package.json
  packages/_stories/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/jest.config.js
  packages/react-property-selectors/package.json
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-test-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
  packages/react-property-selectors/src/__tests__/jest-setup.ts
  yarn.lock
Due: react_property_selectors

Not working
  .storybook/config.js
  package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/react-property-selectors/src/__stories__/amount-format-selector/button.tsx
  packages/react-property-selectors/src/__stories__/amount-format-selector/olle.stories.tsx
  yarn.lock
Due: react_property_selectors

Works in simple case
  .storybook/config.js
  .storybook/main.js
  packages/react-property-selectors/src/__stories__/amount-format-selector/button.tsx
  packages/react-property-selectors/src/__stories__/amount-format-selector/olle.stories.tsx
Due: react_property_selectors

removed story
  packages/_stories/src/react-property-selectors/amount-input-box/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
Due: none

only story
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Add amount input box story (#34)
  packages/_stories/src/react-property-selectors/amount-input-box/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
Due: none

Add amount format selector
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/units-map.ts
Due: react_property_selectors

Add stories
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/amount-input-box/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/checkbox-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/combobox-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/olle/button.tsx
  packages/react-property-selectors/src/__stories__/olle/olle.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/radiogroup-property-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/__stories__/textbox-property-selector/example-1-hooks.stories.tsx
Due: react_property_selectors

Remove old storeis
  packages/_stories/src/react-property-selectors/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/amount-input-box/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
  packages/_stories/src/react-property-selectors/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/selector-ui/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/selector-ui/selector-ui.tsx
  packages/_stories/src/react-property-selectors/textbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/units-map.ts
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
Due: react_property_selectors

Cleanup config
  .storybook/main.js
Due: none

Move story
  packages/react-properties-selector/src/__stories__/olle/button.tsx
  packages/react-properties-selector/src/__stories__/olle/olle.stories.tsx
Due: react_properties_selector

Add example
  packages/property-filter-pretty/.npmignore
  packages/property/.npmignore
  packages/react-properties-selector/.npmignore
  packages/react-properties-selector/src/__stories__/amount-format-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/units-map.ts
  packages/react-properties-selector/src/__stories__/utils.tsx
  packages/react-property-selectors/.npmignore
  packages/variant-listing/.npmignore
Due: react_properties_selector

Add stories
  packages/react-properties-selector/package.json
  packages/react-properties-selector/src/__stories__/amount-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/checkbox-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/combobox-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/dropdown/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-2-layout-styles.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-2-layout.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-2.stories.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-3-auto-select-and-lock-single-valid-value.stories.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-4-lock-single-valid-value.stories.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-empty-pvs.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/example-product-properties.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/expander.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/index.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/units-map.ts
  packages/react-properties-selector/src/__stories__/properties-selector/utils.tsx
  packages/react-properties-selector/src/__stories__/properties-selector/values.tsx
  packages/react-properties-selector/src/__stories__/radiogroup-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/textbox-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/custom-typings/csjs/index.d.ts
Due: react_properties_selector

All works
  packages/react-properties-selector/src/__stories__/amount-format-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/amount-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/checkbox-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/combobox-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/olle/button.tsx
  packages/react-properties-selector/src/__stories__/olle/olle.stories.tsx
  packages/react-properties-selector/src/__stories__/radiogroup-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/__stories__/textbox-property-selector/example-1.stories.tsx
Due: react_properties_selector

Remove stories package
  packages/_stories/package.json
  packages/_stories/src/custom-typings/csjs/index.d.ts
  packages/_stories/src/custom-typings/insert-css/index.d.ts
  packages/_stories/src/custom-typings/storybook__react_demo/index.d.ts
  packages/_stories/src/index.tsx
  packages/_stories/src/react-properties-selector/amount-format-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/amount-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/dropdown/example-1.tsx
  packages/_stories/src/react-properties-selector/index.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-2-layout-styles.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-2-layout.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-2.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-empty-pvs.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/properties-selector/expander.tsx
  packages/_stories/src/react-properties-selector/properties-selector/index.tsx
  packages/_stories/src/react-properties-selector/properties-selector/units-map.ts
  packages/_stories/src/react-properties-selector/properties-selector/utils.tsx
  packages/_stories/src/react-properties-selector/properties-selector/values.tsx
  packages/_stories/src/react-properties-selector/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/textbox-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/units-map.ts
  packages/_stories/src/react-properties-selector/utils.tsx
  packages/_stories/tsconfig.json
  packages/react-properties-selector/package.json
  packages/tsconfig.json
  yarn.lock
Due: none

Fix linting
  .eslintrc.js
Due: none

Add github workflow
  .github/workflows/ci.yml
Due: none

Add yarn install to workflow
  .github/workflows/ci.yml
Due: none

Disable travis
  _deprecated.travis.yml
Due: none

Add upload to codecov
  .github/workflows/ci.yml
Due: none

Rename file
  .github/workflows/workflow.yml
Due: none

Add badge for build
  .github/workflows/build.yml
  README.md
Due: none

Remove verbose
  .github/workflows/build.yml
Due: none

Rename workflow
  .github/workflows/build.yml
Due: none

Remove old travis file
  _deprecated.travis.yml
Due: none

added amount inputbox test
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Path conditions:
  property: any of: packages/property/src
  property_filter_pretty: any of: packages/property-filter-pretty/src
  react_properties_selector: any of: packages/react-properties-selector/src
  react_property_selectors: any of: packages/react-property-selectors/src
  variant_listing: any of: packages/variant-listing/src
