Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

codecov.yml:

coverage:
  status:
    project:
      default: off
      property:
        flags: property
        target: 64%
      property_filter_pretty:
        target: 66%
        flags: property_filter_pretty
      react_properties_selector:
        target: 67%
        flags: react_properties_selector
      react_property_selectors:
        flags: react_property_selectors
        target: 26%
      variant_listing:
        flags: variant_listing
        target: 78%
flags:
  property:
    paths:
      - packages/property/src
  property_filter_pretty:
    paths:
      - packages/property-filter-pretty/src
  react_properties_selector:
    paths:
      - packages/react-properties-selector/src
  react_property_selectors:
    paths:
      - packages/react-property-selectors/src
  variant_listing:
    paths:
      - packages/variant-listing/src

removed test
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

new_amount_inputbox_test
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Run separate commands
  .github/workflows/build.yml
  package.json
Due: none

use option delay
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

New amount inputbox test (#36)
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

use amount input box fix (#33)
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Add docs
  README.md
Due: none

More docs
  README.md
Due: none

docs: Add contrib docs (#37)
  README.md
Due: none

chore: Upgrade eslint
  package.json
  yarn.lock
Due: none

chrore: Upgrade eslint (#38)
  package.json
  yarn.lock
Due: none

Publish
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

Remove field name (was not used by code in this library)
  packages/react-properties-selector/README.md
  packages/react-properties-selector/src/__stories__/amount-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/amount/amount-property-selector.tsx
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-properties-selector/src/properties-selector/properties-selector.tsx
  packages/react-property-selectors/README.md
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_properties_selector, react_property_selectors

Update changelog
  packages/react-property-selectors/CHANGELOG.md
Due: none

fix!: Remove field name (was not used by code in this library) (#39)
  packages/react-properties-selector/README.md
  packages/react-properties-selector/src/__stories__/amount-property-selector/example-1.stories.tsx
  packages/react-properties-selector/src/amount/amount-property-selector.tsx
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-properties-selector/src/properties-selector/properties-selector.tsx
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/README.md
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_properties_selector, react_property_selectors

propertyFormats -> getPropertyFormat
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Deprecation notes in readme
  README.md
Due: none

Shorter note
  README.md
Due: none

Add some doc comments
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Add changelog entry
  packages/react-property-selectors/CHANGELOG.md
Due: none

fix(properties-selector)!: Property format function (#40)
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Move readonly and optional to PropertyInfo
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Remove comments
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

feat(properties-selector)!: Move readonly and optional to PropertyInfo (#41)
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

SelectableUnits
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/__stories__/units-map.ts
  packages/react-property-selectors/src/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Fix clear in example
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
Due: react_property_selectors

Cleanup
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Remove unit lookup (it was not used anymore)
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

fix examples
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
Due: react_property_selectors

fix properties selector and example
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

refactoring
  packages/react-property-selectors/src/__stories__/combobox-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/radiogroup-property-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

use zipList
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

descimal pick logic
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
Due: react_property_selectors

refactor
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/radiogroup-property-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/__tests__/amount/use-amout-format-selector.test.tsx
  packages/react-property-selectors/src/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/amount/zip-list.ts
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

specific property info types
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Remove GetPropertyItems from UsePropertiesSelectorOptions
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

remove quantity
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

cleanup
  packages/react-property-selectors/src/__tests__/amount/use-amout-format-selector.test.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors
