Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

codecov.yml:

coverage:
  status:
    project:
      default: off
      property:
        flags: property
        target: 64%
      property_filter_pretty:
        target: 66%
        flags: property_filter_pretty
      react_properties_selector:
        target: 67%
        flags: react_properties_selector
      react_property_selectors:
        flags: react_property_selectors
        target: 26%
      variant_listing:
        flags: variant_listing
        target: 78%
flags:
  property:
    paths:
      - packages/property/src
  property_filter_pretty:
    paths:
      - packages/property-filter-pretty/src
  react_properties_selector:
    paths:
      - packages/react-properties-selector/src
  react_property_selectors:
    paths:
      - packages/react-property-selectors/src
  variant_listing:
    paths:
      - packages/variant-listing/src

Add useEffect to synchronize state with property value changes
  packages/react-property-selectors/src/textbox/use-textbox-property-selector.tsx
Due: react_property_selectors

Publish
  packages/react-property-selectors/package.json
Due: none

new version
  packages/react-property-selectors/CHANGELOG.md
Due: none

Fix decimal formatting bug
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

test
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Add decimalCount prop to AmountInputBoxTestComponent and update tests
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-test-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

Enhance useAmountInputBox to prevent state reinitialization during user input and manage focus state
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

export walkExpr
  packages/property/src/property-filter-ast/compile-ast.ts
  packages/property/src/property-filter-ast/index.ts
Due: property

Publish
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

dummy
  packages/property/src/property-filter-ast/index.ts
Due: property
