Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

Use types
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
Due: react_property_selectors

More forgiving prop types
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
Due: react_property_selectors

Refactor props
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/_stories/src/react-property-selectors/hooks/textbox-property-selector/example-1-hooks.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-input-box.tsx
Due: react_property_selectors

Remove type
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/textbox/use-textbox-property-selector.tsx
Due: react_property_selectors

More forgiving props
  packages/react-property-selectors/src/hooks/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/hooks/textbox/use-textbox-property-selector.tsx
Due: react_property_selectors

Upgrade eslint
  .eslintrc.js
  package.json
  packages/_stories/package.json
  packages/_stories/src/react-properties-selector/components/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/components/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/components/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/example-product-properties.tsx
  packages/property-filter-pretty/src/pretty-printing/filter-pretty-print-indented.ts
  packages/property-filter-pretty/src/type-inference/filter-type-inferrer.ts
  packages/property/src/__tests__/property-value.test.ts
  packages/property/src/property-filter-ast/compile-to-string.ts
  packages/property/src/property-filter-ast/find-properties.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-filter.ts
  packages/property/src/property-value-set.ts
  packages/property/src/utils/compare-utils.ts
  packages/react-properties-selector/src/__tests__/properties-selector.test.tsx
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/variant-listing/src/functions.ts
  yarn.lock
Due: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

Upgrade lerna
  package.json
  yarn.lock
Due: none

Upgrade jest
  package.json
  yarn.lock
Due: none

Publish
  packages/_stories/package.json
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

Refactor props
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-property-selector.tsx
Due: react_property_selectors

Simpler types
  packages/react-property-selectors/src/hooks/amount/use-amount-property-selector.tsx
Due: react_property_selectors

Types
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
Due: react_property_selectors

Publish
  packages/_stories/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
Due: none

Fix example
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
Due: none

Forgiving props
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Update docs for 8.0.0
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/README.md
Due: none

Save formats in example
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Remove use of selectedIndex
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
Due: react_property_selectors

Update changelog
  packages/react-property-selectors/CHANGELOG.md
Due: none

Rename folder
  packages/react-properties-selector/src/index.ts
  packages/react-properties-selector/src/properties-selector/default-group-component.tsx
  packages/react-properties-selector/src/properties-selector/default-group-item-component.tsx
  packages/react-properties-selector/src/properties-selector/default-layout-renderer.tsx
  packages/react-properties-selector/src/properties-selector/default-property-label-component.tsx
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-properties-selector/src/properties-selector/index.tsx
  packages/react-properties-selector/src/properties-selector/properties-selector.tsx
  packages/react-properties-selector/src/properties-selector/types.tsx
Due: react_properties_selector

Move checkbox
  packages/_stories/src/react-property-selectors/components/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/react-properties-selector/src/__tests__/__snapshots__/checkbox-property-selector.test.tsx.snap
  packages/react-properties-selector/src/__tests__/checkbox-property-selector.test.tsx
  packages/react-properties-selector/src/checkbox/checkbox-property-selector.tsx
  packages/react-properties-selector/src/checkbox/index.ts
  packages/react-properties-selector/src/index.ts
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Move textbox
  packages/_stories/src/react-property-selectors/components/textbox-property-selector/example-1.tsx
  packages/react-properties-selector/src/index.ts
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-properties-selector/src/textbox/index.ts
  packages/react-properties-selector/src/textbox/textbox-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Move radio
  packages/_stories/src/react-property-selectors/components/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-properties-selector/src/index.ts
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-properties-selector/src/radio-group/index.ts
  packages/react-properties-selector/src/radio-group/radio-group-item.tsx
  packages/react-properties-selector/src/radio-group/radio-group-property-selector.tsx
  packages/react-properties-selector/src/radio-group/radio-group.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Move combo
  packages/_stories/src/react-property-selectors/components/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/components/dropdown/example-1.tsx
  packages/react-properties-selector/src/combo-box/combo-box-image-button-element.tsx
  packages/react-properties-selector/src/combo-box/combo-box-image-element-row.tsx
  packages/react-properties-selector/src/combo-box/combo-box-standard-option.tsx
  packages/react-properties-selector/src/combo-box/combo-box-standard-select.tsx
  packages/react-properties-selector/src/combo-box/combobox-property-selector.tsx
  packages/react-properties-selector/src/combo-box/image-dropdown-selector.tsx
  packages/react-properties-selector/src/combo-box/index.ts
  packages/react-properties-selector/src/combo-box/option-element.tsx
  packages/react-properties-selector/src/index.ts
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Move amount
  packages/_stories/src/react-properties-selector/components/example-2-layout.tsx
  packages/_stories/src/react-property-selectors/components/amount-format-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/components/amount-property-selector/example-1.tsx
  packages/react-properties-selector/src/amount/amount-format-selector.tsx
  packages/react-properties-selector/src/amount/amount-format-wrapper.tsx
  packages/react-properties-selector/src/amount/amount-input-box.tsx
  packages/react-properties-selector/src/amount/amount-input-field.tsx
  packages/react-properties-selector/src/amount/amount-property-selector.tsx
  packages/react-properties-selector/src/amount/index.ts
  packages/react-properties-selector/src/index.ts
  packages/react-properties-selector/src/properties-selector/default-property-selector-component.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Move stories
  .storybook/config.js
  packages/_stories/src/react-properties-selector/amount-format-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/amount-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/components/index.tsx
  packages/_stories/src/react-properties-selector/dropdown/example-1.tsx
  packages/_stories/src/react-properties-selector/index.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-2-layout-styles.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-2-layout.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-2.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-empty-pvs.tsx
  packages/_stories/src/react-properties-selector/properties-selector/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/properties-selector/expander.tsx
  packages/_stories/src/react-properties-selector/properties-selector/index.tsx
  packages/_stories/src/react-properties-selector/properties-selector/units-map.ts
  packages/_stories/src/react-properties-selector/properties-selector/utils.tsx
  packages/_stories/src/react-properties-selector/properties-selector/values.tsx
  packages/_stories/src/react-properties-selector/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/textbox-property-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/units-map.ts
  packages/_stories/src/react-properties-selector/utils.tsx
Due: none

Move stories from hooks
  .storybook/config.js
  packages/_stories/src/react-property-selectors/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
  packages/_stories/src/react-property-selectors/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/selector-ui/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/selector-ui/selector-ui.tsx
  packages/_stories/src/react-property-selectors/textbox-property-selector/example-1-hooks.tsx
Due: none

Move
  packages/react-property-selectors/src/amount/default-styles.ts
  packages/react-property-selectors/src/amount/index.ts
  packages/react-property-selectors/src/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/discrete/default-styles.ts
  packages/react-property-selectors/src/discrete/index.ts
  packages/react-property-selectors/src/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
  packages/react-property-selectors/src/properties-selector/index.ts
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
  packages/react-property-selectors/src/textbox/index.ts
  packages/react-property-selectors/src/textbox/use-textbox-property-selector.tsx
Due: react_property_selectors

Update docs for v9
  packages/react-properties-selector/CHANGELOG.md
  packages/react-properties-selector/README.md
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/README.md
  packages/react-property-selectors/README_v6.md
Due: none

Update docs
  packages/react-properties-selector/README.md
  packages/react-property-selectors/README.md
Due: none

warning
  packages/react-properties-selector/README.md
  packages/react-property-selectors/README.md
Due: none

Remove ref
  packages/react-properties-selector/package.json
Due: none

Path conditions:
  property: any of: packages/property/src
  property_filter_pretty: any of: packages/property-filter-pretty/src
  react_properties_selector: any of: packages/react-properties-selector/src
  react_property_selectors: any of: packages/react-property-selectors/src
  variant_listing: any of: packages/variant-listing/src
