Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

Publish
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

More relaxed rules for string values
  packages/property/src/__tests__/data/property-filter-is-syntax-valid.ts
  packages/property/src/property-filter-ast/pegjs/generated-parser.js
  packages/property/src/property-filter-ast/pegjs/parser.pegjs
Due: property

More relaxed rules for string values (#57)
  packages/property/src/__tests__/data/property-filter-is-syntax-valid.ts
  packages/property/src/property-filter-ast/pegjs/generated-parser.js
  packages/property/src/property-filter-ast/pegjs/parser.pegjs
Due: property

Update changelog for 6.1.0
  packages/property/CHANGELOG.md
Due: none

Refactor. Removed duplicated debounce.
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/debounce.tsx
  packages/react-property-selectors/src/textbox/use-textbox-property-selector.tsx
Due: react_property_selectors

Refactor. Reordered code.
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Refactor. Added variable holding the return value of .
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/textbox/use-textbox-property-selector.tsx
Due: react_property_selectors

Added cancel to debounce.
  packages/react-property-selectors/src/debounce.tsx
Due: react_property_selectors

Fixed test. It did not test what it was supposed to. Incidentally had to fix a bug where debounced events updated the state after the component was unmounted.
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

WIP
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Update use-properties-selector.tsx (#50)
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Revert "Update use-properties-selector.tsx (#50)"
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Revert "Update use-properties-selector.tsx (#50)" (#59)
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Implement LRU cache for property filters
  .tool-versions
  packages/property/package.json
  packages/property/src/property-filter.ts
  packages/tsconfig.settings.json
  yarn.lock
Due: property

Allow changing LRU cache size using environment variable
  packages/property/README.md
  packages/property/src/property-filter.ts
Due: property

Downgrade lru-cache to support older node versions
  packages/property/package.json
  packages/property/src/property-filter.ts
  yarn.lock
Due: property

fix: make sure that environment variables are available
  packages/property/src/property-filter.ts
Due: property

Fix tests
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select-test-component.tsx
Due: react_property_selectors

Implement LRU cache for property filters (#61)
  .tool-versions
  packages/property/README.md
  packages/property/package.json
  packages/property/src/property-filter.ts
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select-test-component.tsx
  packages/tsconfig.settings.json
  yarn.lock
Due: property, react_property_selectors

Set newer tool version
  .tool-versions
Due: none

Optimise PropertyFilter.fromString
  package.json
  packages/property/src/__benchmarks__/property-filter-parse.ts
  packages/property/src/property-filter.ts
Due: property

Codecov: ignore __benchmark__
  codecov.yml
Due: none

Add tests
  packages/property/src/__tests__/property-filter.test.ts
Due: property

Codecov: ignore __benchmark__ try #2
  codecov.yml
Due: none

Fix codecov & validate structure
  codecov.yml
Due: none

Optimise PropertyFilter.fromString (#63)
  codecov.yml
  package.json
  packages/property/src/__benchmarks__/property-filter-parse.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/property-filter.ts
Due: property

Fix deprecation message and link
  README.md
Due: none

remove ramda
  packages/variant-listing/package.json
  packages/variant-listing/src/__tests__/functions.test.ts
  packages/variant-listing/src/functions.ts
  yarn.lock
Due: variant_listing

version
  yarn.lock
Due: none

allow \t\r\n in property_filter
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/data/property-filter-is-syntax-valid.ts
  packages/property/src/property-filter-ast/pegjs/generated-parser.js
  packages/property/src/property-filter-ast/pegjs/parser.pegjs
Due: property

propert-filter-changelog
  packages/property/CHANGELOG.md
Due: none

revert \t\r\t in property_filter
  packages/property/CHANGELOG.md
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/data/property-filter-is-syntax-valid.ts
  packages/property/src/property-filter-ast/pegjs/generated-parser.js
  packages/property/src/property-filter-ast/pegjs/parser.pegjs
Due: property

Update parse.ts
  packages/property/src/property-filter-ast/parse.ts
Due: property

Path conditions:
  property: any of: packages/property/src
  property_filter_pretty: any of: packages/property-filter-pretty/src
  react_properties_selector: any of: packages/react-properties-selector/src
  react_property_selectors: any of: packages/react-property-selectors/src
  variant_listing: any of: packages/variant-listing/src
