Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

Rename
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Group
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Remove group type
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Refactpr
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Rename
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Enhance hooks
  .storybook/config.js
  package.json
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/units-map.ts
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/_stories/src/react-property-selectors/hooks/textbox-property-selector/example-1-hooks.tsx
  packages/react-properties-selector/CHANGELOG.md
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-properties-selector/src/index.ts
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/src/hooks/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/hooks/checkbox/index.ts
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/index.ts
  packages/react-property-selectors/src/hooks/combobox/option.ts
  packages/react-property-selectors/src/hooks/combobox/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/use-image-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
  packages/react-property-selectors/src/hooks/discrete/index.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/index.ts
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/radio-group/index.ts
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Update readme
  packages/react-properties-selector/README.md
  packages/react-properties-selector/README_v6.md
Due: none

Add note
  packages/react-properties-selector/README.md
Due: none

Update docs
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/README.md
Due: none

Enhance hooks (#24)
  .storybook/config.js
  package.json
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/units-map.ts
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/_stories/src/react-property-selectors/hooks/textbox-property-selector/example-1-hooks.tsx
  packages/react-properties-selector/CHANGELOG.md
  packages/react-properties-selector/README.md
  packages/react-properties-selector/README_v6.md
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-properties-selector/src/index.ts
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/README.md
  packages/react-property-selectors/src/hooks/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/hooks/checkbox/index.ts
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/index.ts
  packages/react-property-selectors/src/hooks/combobox/option.ts
  packages/react-property-selectors/src/hooks/combobox/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/use-image-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
  packages/react-property-selectors/src/hooks/discrete/index.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/index.ts
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/radio-group/index.ts
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Update main readme with deprecation warning
  README.md
Due: none

Update description
  packages/react-property-selectors/README.md
Due: none

Update description
  packages/react-property-selectors/README.md
  packages/react-property-selectors/package.json
Due: none

Publish
  packages/_stories/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
Due: none

Rename styles
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
Due: react_property_selectors

Move default styles
  packages/react-property-selectors/src/hooks/amount/default-styles.ts
  packages/react-property-selectors/src/hooks/amount/index.ts
  packages/react-property-selectors/src/hooks/amount/use-amount-input-box.tsx
Due: react_property_selectors

Get items
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Simplify generics
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Item label symbol
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Better names
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Remove unused
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Remove unused prop
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Change props
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

props
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Remove optional
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Use target instead of current target
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Fix keys
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
Due: none

Refactor
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
Due: none

Path conditions:
  property: any of: packages/property/src
  property_filter_pretty: any of: packages/property-filter-pretty/src
  react_properties_selector: any of: packages/react-properties-selector/src
  react_property_selectors: any of: packages/react-property-selectors/src
  variant_listing: any of: packages/variant-listing/src
