Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

Move stories
  .storybook/config.js
  packages/_stories/src/react-property-selectors/components/amount-format-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/components/amount-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/components/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/components/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/components/dropdown/example-1.tsx
  packages/_stories/src/react-property-selectors/components/index.tsx
  packages/_stories/src/react-property-selectors/components/textbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/textbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
Due: none

Move storeis
  .storybook/config.js
  packages/_stories/src/react-properties-selector/components/example-1.tsx
  packages/_stories/src/react-properties-selector/components/example-2-layout-styles.tsx
  packages/_stories/src/react-properties-selector/components/example-2-layout.tsx
  packages/_stories/src/react-properties-selector/components/example-2.tsx
  packages/_stories/src/react-properties-selector/components/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/components/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/components/example-empty-pvs.tsx
  packages/_stories/src/react-properties-selector/components/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/components/expander.tsx
  packages/_stories/src/react-properties-selector/components/index.tsx
  packages/_stories/src/react-properties-selector/components/units-map.ts
  packages/_stories/src/react-properties-selector/components/utils.tsx
  packages/_stories/src/react-properties-selector/components/values.tsx
Due: none

Move stories
  .storybook/config.js
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/hooks/index.tsx
  packages/_stories/src/react-properties-selector/hooks/units-map.ts
Due: none

Move
  packages/react-properties-selector/src/components/default-group-component.tsx
  packages/react-properties-selector/src/components/default-group-item-component.tsx
  packages/react-properties-selector/src/components/default-layout-renderer.tsx
  packages/react-properties-selector/src/components/default-property-label-component.tsx
  packages/react-properties-selector/src/components/default-property-selector-component.tsx
  packages/react-properties-selector/src/components/index.tsx
  packages/react-properties-selector/src/components/properties-selector.tsx
  packages/react-properties-selector/src/components/types.tsx
  packages/react-properties-selector/src/hooks/index.ts
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-properties-selector/src/index.ts
Due: react_properties_selector

Fix story
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/property-label.ts
  packages/react-properties-selector/src/hooks/property-selector.ts
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

wip
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

wip
  package.json
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

wip
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/combo-box/option.ts
Due: react_properties_selector, react_property_selectors

works
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/amount-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/textbox-property-selector/example-1-hooks.tsx
  packages/react-properties-selector/src/hooks/property-label.ts
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Groups
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactoir
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

Remove translate
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

remove translate
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/index.ts
  packages/react-properties-selector/src/hooks/property-selector.ts
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Selector type
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Cleanup
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Cleanup
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

Refactor
  packages/react-properties-selector/src/hooks/types.tsx
Due: react_properties_selector

Refactor
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

type
  packages/react-properties-selector/src/hooks/types.tsx
Due: react_properties_selector

Rename
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Remove translation
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Simplify
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Remove trans
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Remove toggle
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Fix toggle
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Cleanup
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Defaults
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Path conditions:
  property: any of: packages/property/src
  property_filter_pretty: any of: packages/property-filter-pretty/src
  react_properties_selector: any of: packages/react-properties-selector/src
  react_property_selectors: any of: packages/react-property-selectors/src
  variant_listing: any of: packages/variant-listing/src
