Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

codecov.yml:

coverage:
  status:
    project:
      default: off
      property:
        flags: property
        target: 64%
      property_filter_pretty:
        target: 66%
        flags: property_filter_pretty
      react_properties_selector:
        target: 67%
        flags: react_properties_selector
      react_property_selectors:
        flags: react_property_selectors
        target: 26%
      variant_listing:
        flags: variant_listing
        target: 78%
flags:
  property:
    paths:
      - packages/property/src
  property_filter_pretty:
    paths:
      - packages/property-filter-pretty/src
  react_properties_selector:
    paths:
      - packages/react-properties-selector/src
  react_property_selectors:
    paths:
      - packages/react-property-selectors/src
  variant_listing:
    paths:
      - packages/variant-listing/src

Upgrade uom
  packages/_stories/package.json
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
  yarn.lock
Due: none

Publish
  packages/_stories/package.json
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

Update changelogs
  packages/property-filter-pretty/CHANGELOG.md
  packages/property/CHANGELOG.md
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/CHANGELOG.md
Due: none

Fix from string not working
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/__tests__/property-value-set.test.ts
  packages/property/src/__tests__/property-value.test.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-value-set.ts
  packages/property/src/property-value.ts
Due: property

fix stories
  packages/_stories/package.json
  packages/_stories/src/react-properties-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/example-2.tsx
  packages/_stories/src/react-properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-empty-pvs.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/textbox-property-selector/example-1.tsx
  yarn.lock
Due: none

fix property filter parsing crash
  packages/property-filter-pretty/src/__tests__/pretty-printing.test.ts
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-filter.ts
  packages/react-properties-selector/src/__tests__/properties-selector.test.tsx
  packages/variant-listing/src/__tests__/functions.test.ts
Due: property, property_filter_pretty, react_properties_selector, variant_listing

Remove uom-units
  packages/_stories/package.json
  yarn.lock
Due: none

Add uom-units
  packages/_stories/package.json
  yarn.lock
Due: none

Remove uom-units
  packages/_stories/package.json
  packages/_stories/src/react-properties-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/example-2.tsx
  packages/_stories/src/react-properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-property-selectors/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/textbox-property-selector/example-1.tsx
  yarn.lock
Due: none

Added test
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
Due: property

Introduce extra param with UnitMap
  packages/_stories/src/react-properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1.tsx
  packages/property-filter-pretty/src/__tests__/pretty-printing.test.ts
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-filter.ts
  packages/react-properties-selector/src/__tests__/properties-selector.test.tsx
  packages/variant-listing/src/__tests__/functions.test.ts
Due: property, property_filter_pretty, react_properties_selector, variant_listing

Add custom unit
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
Due: property

Use custom map
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
Due: property

Fix benchmark by moving it to src folder
  package.json
  packages/property/.npmignore
  packages/property/benchmark/tsconfig.json
  packages/property/src/__benchmarks__/property-filter.ts
Due: property

Parse custom unit (#14)
  package.json
  packages/_stories/src/react-properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1.tsx
  packages/property-filter-pretty/src/__tests__/pretty-printing.test.ts
  packages/property/.npmignore
  packages/property/benchmark/tsconfig.json
  packages/property/src/__benchmarks__/property-filter.ts
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-filter.ts
  packages/react-properties-selector/src/__tests__/properties-selector.test.tsx
  packages/variant-listing/src/__tests__/functions.test.ts
Due: property, property_filter_pretty, react_properties_selector, variant_listing

Include src in npm publish
  packages/property-filter-pretty/.npmignore
  packages/property/.npmignore
  packages/react-properties-selector/.npmignore
  packages/react-property-selectors/.npmignore
  packages/variant-listing/.npmignore
Due: none

Include src in npm publish (#17)
  packages/property-filter-pretty/.npmignore
  packages/property-filter-pretty/CHANGELOG.md
  packages/property/.npmignore
  packages/property/CHANGELOG.md
  packages/react-properties-selector/.npmignore
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/.npmignore
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/.npmignore
  packages/variant-listing/CHANGELOG.md
Due: none

Update changelogs for new release
  packages/property-filter-pretty/CHANGELOG.md
  packages/property/CHANGELOG.md
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/CHANGELOG.md
Due: none

upgrade to uom 4
  packages/_stories/package.json
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
  yarn.lock
Due: none

update changelog
  packages/property-filter-pretty/CHANGELOG.md
  packages/property/CHANGELOG.md
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/CHANGELOG.md
Due: none

Fix unreleased links
  packages/property-filter-pretty/CHANGELOG.md
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/CHANGELOG.md
Due: none

compiling
  packages/_stories/package.json
  packages/_stories/src/react-properties-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/example-2.tsx
  packages/_stories/src/react-properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-empty-pvs.tsx
  packages/_stories/src/react-properties-selector/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/textbox-property-selector/example-1.tsx
  packages/property-filter-pretty/package.json
  packages/property-filter-pretty/src/__tests__/pretty-printing.test.ts
  packages/property-filter-pretty/src/pretty-printing/filter-pretty-print-indented.ts
  packages/property/package.json
  packages/property/src/__benchmarks__/property-filter.ts
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/__tests__/property-value-set.test.ts
  packages/property/src/__tests__/property-value.test.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-filter.ts
  packages/property/src/property-value-set.ts
  packages/property/src/property-value.ts
  packages/react-properties-selector/package.json
  packages/react-properties-selector/src/__tests__/properties-selector.test.tsx
  packages/react-properties-selector/src/properties-selector.tsx
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
  packages/variant-listing/src/__tests__/functions.test.ts
  yarn.lock
Due: property, property_filter_pretty, react_properties_selector, variant_listing

compiling (#22)
  packages/_stories/package.json
  packages/_stories/src/react-properties-selector/example-1.tsx
  packages/_stories/src/react-properties-selector/example-2.tsx
  packages/_stories/src/react-properties-selector/example-3-auto-select-and-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-4-lock-single-valid-value.tsx
  packages/_stories/src/react-properties-selector/example-empty-pvs.tsx
  packages/_stories/src/react-properties-selector/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/amount-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/checkbox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/textbox-property-selector/example-1.tsx
  packages/property-filter-pretty/package.json
  packages/property-filter-pretty/src/__tests__/pretty-printing.test.ts
  packages/property-filter-pretty/src/pretty-printing/filter-pretty-print-indented.ts
  packages/property/package.json
  packages/property/src/__benchmarks__/property-filter.ts
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/__tests__/property-value-set.test.ts
  packages/property/src/__tests__/property-value.test.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/types.ts
  packages/property/src/property-filter.ts
  packages/property/src/property-value-set.ts
  packages/property/src/property-value.ts
  packages/react-properties-selector/package.json
  packages/react-properties-selector/src/__tests__/properties-selector.test.tsx
  packages/react-properties-selector/src/properties-selector.tsx
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
  packages/variant-listing/src/__tests__/functions.test.ts
  yarn.lock
Due: property, property_filter_pretty, react_properties_selector, variant_listing

Move to components
  packages/react-property-selectors/src/components/__tests__/__snapshots__/checkbox-property-selector.test.tsx.snap
  packages/react-property-selectors/src/components/__tests__/checkbox-property-selector.test.tsx
  packages/react-property-selectors/src/components/amount/amount-format-selector.tsx
  packages/react-property-selectors/src/components/amount/amount-format-wrapper.tsx
  packages/react-property-selectors/src/components/amount/amount-input-box.tsx
  packages/react-property-selectors/src/components/amount/amount-input-field.tsx
  packages/react-property-selectors/src/components/amount/amount-property-selector.tsx
  packages/react-property-selectors/src/components/amount/index.ts
  packages/react-property-selectors/src/components/checkbox/checkbox-property-selector.tsx
  packages/react-property-selectors/src/components/checkbox/index.ts
  packages/react-property-selectors/src/components/combo-box/combo-box-image-button-element.tsx
  packages/react-property-selectors/src/components/combo-box/combo-box-image-element-row.tsx
  packages/react-property-selectors/src/components/combo-box/combo-box-standard-option.tsx
  packages/react-property-selectors/src/components/combo-box/combo-box-standard-select.tsx
  packages/react-property-selectors/src/components/combo-box/combobox-property-selector.tsx
  packages/react-property-selectors/src/components/combo-box/image-dropdown-selector.tsx
  packages/react-property-selectors/src/components/combo-box/index.ts
  packages/react-property-selectors/src/components/combo-box/option-element.tsx
  packages/react-property-selectors/src/components/radio-group/index.ts
  packages/react-property-selectors/src/components/radio-group/radio-group-item.tsx
  packages/react-property-selectors/src/components/radio-group/radio-group-property-selector.tsx
  packages/react-property-selectors/src/components/radio-group/radio-group.tsx
  packages/react-property-selectors/src/components/textbox/index.ts
  packages/react-property-selectors/src/components/textbox/textbox-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

wip
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/index.tsx
  packages/react-property-selectors/src/components/__tests__/checkbox-property-selector.test.tsx
  packages/react-property-selectors/src/hooks/combo-box/combo-box-image-button-element.tsx
  packages/react-property-selectors/src/hooks/combo-box/combo-box-image-element-row.tsx
  packages/react-property-selectors/src/hooks/combo-box/combo-box-standard-option.tsx
  packages/react-property-selectors/src/hooks/combo-box/combo-box-standard-select.tsx
  packages/react-property-selectors/src/hooks/combo-box/image-dropdown-selector.tsx
  packages/react-property-selectors/src/hooks/combo-box/index.ts
  packages/react-property-selectors/src/hooks/combo-box/option-element.tsx
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
Due: react_property_selectors

wip
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

wip
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
Due: react_property_selectors

wip
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
Due: none

Refactor
  packages/_stories/src/react-property-selectors/combobox-property-selector/example-1-hooks.tsx
Due: none

Cleanup
  packages/react-property-selectors/src/hooks/combo-box/combo-box-standard-option.tsx
  packages/react-property-selectors/src/hooks/combo-box/combo-box-standard-select.tsx
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
Due: react_property_selectors

Cleanup
  packages/react-property-selectors/src/hooks/combo-box/option-element.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
Due: react_property_selectors

Remove sortno
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
Due: react_property_selectors
