Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

codecov.yml:

coverage:
  status:
    project:
      default: off
      property:
        flags: property
        target: 64%
      property_filter_pretty:
        target: 66%
        flags: property_filter_pretty
      react_properties_selector:
        target: 67%
        flags: react_properties_selector
      react_property_selectors:
        flags: react_property_selectors
        target: 26%
      variant_listing:
        flags: variant_listing
        target: 78%
flags:
  property:
    paths:
      - packages/property/src
  property_filter_pretty:
    paths:
      - packages/property-filter-pretty/src
  react_properties_selector:
    paths:
      - packages/react-properties-selector/src
  react_property_selectors:
    paths:
      - packages/react-property-selectors/src
  variant_listing:
    paths:
      - packages/variant-listing/src

Refactor
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Cleanup
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/react-properties-selector/src/hooks/index.ts
  packages/react-properties-selector/src/hooks/types.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Rename to options
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combo-box/option.ts
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combo-box/use-image-combobox-property-selector.tsx
Due: react_properties_selector, react_property_selectors

Remove unused event
  packages/_stories/src/react-property-selectors/hooks/amount-format-selector/example-1-hooks.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/hooks/amount/use-amount-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/combo-box/option.ts
  packages/react-property-selectors/src/hooks/combo-box/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combo-box/use-image-combobox-property-selector.tsx
Due: react_property_selectors

Add fake option
  packages/react-property-selectors/src/hooks/combo-box/option.ts
Due: react_property_selectors

Fix example
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

Use image in example
  packages/_stories/src/react-properties-selector/components/example-product-properties.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
Due: none

Use image combobox
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/textbox/use-textbox-property-selector.tsx
Due: react_properties_selector, react_property_selectors

Use image selector
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Rename
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

Add story for radiogroup
  packages/_stories/src/react-property-selectors/components/index.tsx
  packages/_stories/src/react-property-selectors/components/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/components/radio-group/index.ts
  packages/react-property-selectors/src/hooks/combobox/index.ts
  packages/react-property-selectors/src/hooks/combobox/option.ts
  packages/react-property-selectors/src/hooks/combobox/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/use-image-combobox-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Copy story
  packages/_stories/src/react-property-selectors/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/radio-group/index.ts
  packages/react-property-selectors/src/hooks/radio-group/radio-group-item.tsx
  packages/react-property-selectors/src/hooks/radio-group/radio-group-property-selector.tsx
  packages/react-property-selectors/src/hooks/radio-group/radio-group.tsx
Due: react_property_selectors

Radio
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/radio-group/index.ts
  packages/react-property-selectors/src/hooks/radio-group/radio-group-item.tsx
  packages/react-property-selectors/src/hooks/radio-group/radio-group-property-selector.tsx
  packages/react-property-selectors/src/hooks/radio-group/radio-group.tsx
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Radio
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
Due: react_property_selectors

Add radio
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
Due: react_properties_selector, react_property_selectors

Update docs
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/README.md
  packages/react-property-selectors/README_v5.md
Due: none

Update readme
  packages/react-properties-selector/README_v6.md
  packages/react-property-selectors/README.md
  packages/react-property-selectors/README_v6.md
Due: none

Add changes for v6
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
Due: none

Changelog for v7
  packages/react-properties-selector/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
Due: none

Publish
  packages/_stories/package.json
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-properties-selector/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

Don't expose groupname
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Fix naming convention
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Show codes
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Refactor
  packages/react-property-selectors/src/hooks/combobox/option.ts
  packages/react-property-selectors/src/hooks/combobox/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/use-image-combobox-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/combobox/option.ts
Due: react_property_selectors
