Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

Rename
  packages/react-property-selectors/src/hooks/combobox/option.ts
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/combobox/option.ts
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/combobox/index.ts
  packages/react-property-selectors/src/hooks/combobox/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/image-combobox/index.ts
  packages/react-property-selectors/src/hooks/image-combobox/use-image-combobox-property-selector.tsx
  packages/react-property-selectors/src/hooks/option/index.ts
  packages/react-property-selectors/src/hooks/option/option.ts
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Refactor
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
Due: react_properties_selector, react_property_selectors

Discrete selector
  packages/_stories/src/react-properties-selector/hooks/example-1-discrete.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/discrete/index.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Refactor
  packages/_stories/src/react-properties-selector/hooks/example-1-discrete.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Show selected
  package.json
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Remove logging
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

wip
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

image
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Fix image
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Cleanup
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
  packages/react-property-selectors/src/hooks/discrete/index.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
Due: react_property_selectors

Radio
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

No error
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
Due: react_property_selectors

Refactor
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
Due: react_property_selectors

Rename
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
Due: react_property_selectors

checkbox
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Use discrete only
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
Due: react_properties_selector

Cleanup
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

Refactor
  packages/_stories/src/hooks-selector-ui/selector-ui.tsx
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
Due: none

Checkbox
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

combobox
  packages/_stories/src/hooks-selector-ui/selector-ui.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
Due: none

Remove unused hooks
  packages/react-property-selectors/src/hooks/checkbox/index.ts
  packages/react-property-selectors/src/hooks/checkbox/use-checkbox-property-selector.tsx
  packages/react-property-selectors/src/hooks/combobox/index.ts
  packages/react-property-selectors/src/hooks/combobox/use-combobox-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Remove unused hook
  packages/_stories/src/hooks-selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Remove
  packages/react-property-selectors/src/hooks/image-combobox/index.ts
  packages/react-property-selectors/src/hooks/image-combobox/use-image-combobox-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Remove unused
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/radio-group/index.ts
  packages/react-property-selectors/src/hooks/radio-group/use-radio-group-property-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_property_selectors

Discrete item
  packages/react-properties-selector/src/hooks/use-properties-selector.tsx
  packages/react-property-selectors/src/hooks/option/index.ts
  packages/react-property-selectors/src/hooks/option/option.ts
Due: react_properties_selector, react_property_selectors

Refactor move
  packages/_stories/src/react-properties-selector/hooks/example-1.tsx
  packages/_stories/src/react-properties-selector/hooks/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/hooks/textbox-property-selector/example-1-hooks.tsx
  packages/react-properties-selector/CHANGELOG.md
  packages/react-properties-selector/src/index.ts
  packages/react-property-selectors/CHANGELOG.md
  packages/react-property-selectors/src/hooks/properties-selector/index.ts
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
  packages/react-property-selectors/src/index.tsx
Due: react_properties_selector, react_property_selectors

Move
  packages/_stories/src/react-properties-selector/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/index.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/units-map.ts
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
Due: none

Remove unused field
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

TItem
  .storybook/config.js
  packages/_stories/src/react-property-selectors/hooks/checkbox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/radiogroup-property-selector/example-1.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

TItem image
  packages/_stories/src/react-property-selectors/hooks/combobox-property-selector/example-1-hooks.tsx
  packages/_stories/src/react-property-selectors/hooks/properties-selector/example-1.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/example-product-properties.tsx
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

TItem
  packages/_stories/src/react-property-selectors/hooks/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/hooks/discrete/default-styles.ts
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/hooks/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Remove default
  packages/react-property-selectors/src/hooks/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Path conditions:
  property: any of: packages/property/src
  property_filter_pretty: any of: packages/property-filter-pretty/src
  react_properties_selector: any of: packages/react-properties-selector/src
  react_property_selectors: any of: packages/react-property-selectors/src
  variant_listing: any of: packages/variant-listing/src
