Repository promaster-sdk/property: changes, and which Codecov flags are due for each by the changed paths.
All: property, property_filter_pretty, react_properties_selector, react_property_selectors, variant_listing

codecov.yml:

coverage:
  status:
    project:
      default: off
      property:
        flags: property
        target: 64%
      property_filter_pretty:
        target: 66%
        flags: property_filter_pretty
      react_properties_selector:
        target: 67%
        flags: react_properties_selector
      react_property_selectors:
        flags: react_property_selectors
        target: 26%
      variant_listing:
        flags: variant_listing
        target: 78%
flags:
  property:
    paths:
      - packages/property/src
  property_filter_pretty:
    paths:
      - packages/property-filter-pretty/src
  react_properties_selector:
    paths:
      - packages/react-properties-selector/src
  react_property_selectors:
    paths:
      - packages/react-property-selectors/src
  variant_listing:
    paths:
      - packages/variant-listing/src

feat(property-selectors)!: Amount format selectable units (#42)
  packages/react-property-selectors/src/__stories__/amount-format-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/amount-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/combobox-property-selector/example-1-hooks.stories.tsx
  packages/react-property-selectors/src/__stories__/properties-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/radiogroup-property-selector/example-1.stories.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/example-product-properties.tsx
  packages/react-property-selectors/src/__stories__/selector-ui/selector-ui.tsx
  packages/react-property-selectors/src/__stories__/units-map.ts
  packages/react-property-selectors/src/amount/use-amount-format-selector.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
  packages/react-property-selectors/src/amount/use-amount-property-selector.tsx
  packages/react-property-selectors/src/amount/zip-list.ts
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Update changelog
  packages/react-property-selectors/CHANGELOG.md
Due: none

Publish
  packages/react-property-selectors/package.json
Due: none

Update README.md
  README.md
Due: none

Bug fixes autoSelectSingleValidValue and lockSingleValidValue usePropertiesSelector discrete
  packages/react-property-selectors/src/__stories__/properties-selector/example-2.stories.tsx
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select-test-component.tsx
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select.test.tsx
  packages/react-property-selectors/src/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
  yarn.lock
Due: react_property_selectors

fixed checkboxes new story
  packages/react-property-selectors/src/__stories__/properties-selector/example-2.stories.tsx
Due: react_property_selectors

Fix: autoSelectSingleValidValue and lockSingleValidValue useProp… (#43)
  packages/react-property-selectors/src/__stories__/properties-selector/example-2.stories.tsx
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select-test-component.tsx
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select.test.tsx
  packages/react-property-selectors/src/discrete/use-discrete-property-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
  yarn.lock
Due: react_property_selectors

Add description
  README.md
Due: none

Spelling fix
  README.md
Due: none

push permission test
  README.md
Due: none

revert test
  README.md
Due: none

Feat: Expose useDiscretePropertySelector setIsOpen
  packages/react-property-selectors/src/__stories__/properties-selector/example-2.stories.tsx
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select-test-component.tsx
  packages/react-property-selectors/src/__tests__/properties-selector/discrete-select.test.tsx
  packages/react-property-selectors/src/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

changed order setIsOpen()
  packages/react-property-selectors/src/discrete/use-discrete-property-selector.tsx
Due: react_property_selectors

Fixes #46
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/data/property-filter-is-syntax-valid.ts
  packages/property/src/property-filter-ast/index.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/pegjs/generated-parser.js
  packages/property/src/property-filter-ast/pegjs/parser.pegjs
  packages/property/src/property-filter.ts
Due: property

Update support notice
  README.md
Due: none

more test coverage + fix in equals of PropertyFilter
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/property-filter.ts
Due: property

property filter ast test
  packages/property/src/__tests__/property-filter-ast.test.ts
Due: property

fix!: More tests + space-handling moved to pegjs parser (#47)
  packages/property/src/__tests__/data/property-filter-ast-parse.ts
  packages/property/src/__tests__/data/property-filter-is-syntax-valid.ts
  packages/property/src/__tests__/property-filter-ast.test.ts
  packages/property/src/__tests__/property-filter.test.ts
  packages/property/src/property-filter-ast/index.ts
  packages/property/src/property-filter-ast/parse.ts
  packages/property/src/property-filter-ast/pegjs/generated-parser.js
  packages/property/src/property-filter-ast/pegjs/parser.pegjs
  packages/property/src/property-filter.ts
Due: property

Changelogs for new versions
  packages/property-filter-pretty/CHANGELOG.md
  packages/property/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/CHANGELOG.md
Due: none

Changelogs for new versions (#48)
  packages/property-filter-pretty/CHANGELOG.md
  packages/property/CHANGELOG.md
  packages/react-property-selectors/CHANGELOG.md
  packages/variant-listing/CHANGELOG.md
Due: none

Publish
  packages/property-filter-pretty/package.json
  packages/property/package.json
  packages/react-property-selectors/package.json
  packages/variant-listing/package.json
Due: none

Update README.md
  packages/react-property-selectors/README.md
Due: none

Update README.md (#49)
  packages/react-property-selectors/README.md
Due: none

Update use-properties-selector.tsx
  packages/react-property-selectors/src/properties-selector/use-properties-selector.tsx
Due: react_property_selectors

Removed bad check. Array.length can not be negative.
  packages/react-property-selectors/src/amount/zip-list.ts
Due: react_property_selectors

Removed bad check. Array.length can not be negative. (#51)
  packages/react-property-selectors/src/amount/zip-list.ts
Due: react_property_selectors

removed isValid check amount input box debounced onChange
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

test cases undefined -> valid and valid -> undefined
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-test-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
Due: react_property_selectors

fix(property-selectors)!: removed redundant and faulty isValid check in amount input box debounced onChange (#53)
  packages/react-property-selectors/src/__tests__/amount/amount-input-box-test-component.tsx
  packages/react-property-selectors/src/__tests__/amount/amount-input-box.test.tsx
  packages/react-property-selectors/src/amount/use-amount-input-box.tsx
Due: react_property_selectors

Add overloads
  packages/property/src/property-filter.ts
Due: property

Use correct comparer param
  packages/property/src/property-filter.ts
Due: property

Add test
  packages/property/src/__tests__/property-value.test.ts
Due: property

Fix test
  packages/property/src/__tests__/property-value.test.ts
  packages/property/src/property-value.ts
Due: property

Add test for pvs
  packages/property/src/__tests__/property-value-set.test.ts
Due: property

Fix invalid integer parsing (#56)
  packages/property/src/__tests__/property-value-set.test.ts
  packages/property/src/__tests__/property-value.test.ts
  packages/property/src/property-value.ts
Due: property
